<div class="createpass">
  <div class="topnav" style="background-color: #4f5e76; height: 60px; width: 100%;"></div>
  <br />
  <div class="logocontainer" style="align-items: center; justify-content: center; text-align: center;">
    <div class="logo" style="align-items: center; justify-content: center;">
      <img src="assets/logo_white_bg/Orange_Flower__1_-removebg-preview-3.png" />
      <!--style="padding-top: 170px; padding-left: 100px;"-->
      <br />
      <!--<h1 class="title" style="color: #133e62; text-align: center; font-size: 20px;">
        Welcome to Kriya
      </h1>-->
      <h5 class="title" style="color: #ff674d; text-align: center; font-size: 20px;">
        Kriya
      </h5>
    </div>
  </div>
  <br />
  <form [formGroup]="profileForm">
    <div class="formscenter" style="align-items: center;">
      <h6 style="color: #133e62;">Welcome {{ name |titlecase }},</h6>
      <div class="forms">
        <div class="createpassword">
          <label>Password <span style="color: red;">*</span></label>
          <br />
          <input class="inputTextBox" style="height: 40px;" type="password" formControlName="password" />
          <div *ngIf="
              f.password.touched &&
              profileForm.controls['password'].errors 
            
            " class="error-msg">
            <div [hidden]="!profileForm.controls['password'].errors.required">
              * Password is required
            </div>
          </div>
        </div>

        <br />
        <div class="confirmpassword">
          <label>Confirm Password <span style="color: red;">*</span></label>
          <br />
          <input class="inputTextBox" style="height: 40px;" type="password" formControlName="confirmpassword" />
          <div *ngIf="
              profileForm.controls['confirmpassword'].errors &&
              profileForm.controls['confirmpassword'].touched
            " class="error-msg">
            <div [hidden]="
                !profileForm.controls['confirmpassword'].errors.required
              ">
              * Confirm Password is required
            </div>
          </div>
        </div>
        <div class="error-msg" [hidden]="
        !this.profileForm.controls.confirmpassword.value ||
        this.profileForm.controls.password.value ==
          this.profileForm.controls.confirmpassword.value
      ">
          Password mismatch
        </div>
      </div>
      <br />
    </div>
    <button class="startedbtn" mat-button style="
        color: #ffffff;
        background: linear-gradient(to right top, #3c6a93, #356490, #2d5e8d, #255989, #1d5386, #195082, #154c7e, #10497a, #104674, #11446e, #124168, #133e62);
        font-family: 'Montserrat';
    font-weight: 900;
        font-size: 12pt;
        text-align: center;
      " (click)="success()" [disabled]="profileForm.invalid">
      Lets get started !
    </button>
    <br />
    <br />
  </form>
</div>