/* .sidenav {
  height: 100%;

  width: 15%;
  min-width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px -5px 16px #00000029;
  overflow-x: hidden;
  overflow-y: hidden;

  transition: 0.5s;
  background-color: #133e62;
}

#outer-container {
  height: 100%;
}

.example-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.logout {
  position: absolute;
  right: 10px;
  left: 30px;
}
h1 {
  font-size: x-large;
}
h3 {
  padding-left: 30px;
  font-size: xx-small;
}

#logo-container {
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font: Medium 18px/21px Roboto;
  letter-spacing: 0.2px;
  opacity: 1;
} */
@media (max-width: 500px) {
  
  .splash {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.4s ease-in-out, visibility 1.4s;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
  app-root:not(:empty) + .splash {
    opacity: 0;
    visibility: hidden;
  }
  
  .splash__image {
    width: 100%;
    max-width: 200px;
  }
  /* html,
  body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/bgimg_desktop/DSC00570.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  } */
}
