<!-- <div class="sidenav">
  <div id="outer-container">
    <br />

    <div id="logo-container" style="padding-left: 12px;">
      <img
        id="logo"
        src="assets/logo_white_bg/Orange_Flower__1_-removebg-preview-3.png"
        style="height: 40px; padding-left: 12px;"
        alt="Logo couldn't be found"
      />
      <p
        style="
          font: Medium 18px/21px Roboto;
          font-size: 13pt;
          padding-left: 10px;
          padding-top: 8px;
          color: white;
        "
      >
        Kriya
      </p>
    </div>
    <br />
    <h3>
      <div class="projects" style="display: flex;">
        <img
          src="assets\sidenavicons\register.svg"
          style="padding-left: 9px;"
        />
        <a
          mat-list-item
          (click)="sidenavigationdisplay()"
          [routerLink]="'/project'"
          routerLinkActive="active"
          style="color: white; padding-left: 10px;"
        >
          Projects
        </a>
      </div>
    </h3>
    <h3>
      <div class="tasks" style="display: flex;">
        <img
          src="assets\sidenavicons\Mask Group 7.svg"
          style="padding-left: 9px;"
        />
        <a
          mat-list-item
          (click)="sidenavigationdisplay()"
          [routerLink]="'/tasks'"
          routerLinkActive="active"
          style="color: white; padding-left: 10px;"
        >
          My Tasks
        </a>
      </div>
    </h3>

    <h3>
      <div class="calendar" style="display: flex;">
        <img
          src="assets\sidenavicons\Mask Group 9.svg"
          style="padding-left: 9px;"
        />
        <a
          mat-list-item
          (click)="sidenavigationdisplay()"
          [routerLink]="'/calendar'"
          routerLinkActive="active"
          style="color: white; padding-left: 10px;"
        >
          Calendar
        </a>
      </div>
    </h3>

    <h3>
      <div class="dashboard" style="display: flex;">
        <img
          src="assets\sidenavicons\Mask Group 28.svg"
          style="padding-left: 9px;"
        />
        <a
          mat-list-item
          (click)="sidenavigationdisplay()"
          [routerLink]="'/dashboard'"
          routerLinkActive="active"
          style="color: white; padding-left: 10px;"
        >
          Dashboard
        </a>
      </div>
    </h3>

    <div
      class="logout"
      style="
        display: flex;
        position: absolute;
        bottom: 0px;
        margin-bottom: 10px;
      "
    >
      <img
        src="assets\sidenavicons\Mask Group 21.svg"
        style="padding-left: 9px;"
      />
      <a mat-list-item id="logout" style="color: white; padding-left: 10px;">
        Logout
      </a>
    </div>
  </div>
</div> -->
<div>
<div
    class="topnav"
    style="background-color: #4f5e76; height: 60px; width: 100%;"
  ></div>
<div class="splash">
  <img
    class="splash__image"
    src="./assets/logo/Screenshot 2020-06-18 at 2.24.39 AM.png"
  />
</div>
</div>
