<div mat-dialog-content>
  <div class="successimg" style="align-items: center; text-align: center;">
    <img src="assets/tick_small.svg" />
  </div>
  <br />
  <h6 style="color:#2B2B2B;text-align: center;font-family: 'Montserrat';font-size: 30px;
  font-weight: 12pt;">Success</h6>
  <p style="color: #2B2B2B; text-align: center;font-size: 20px;">
    Thank you! Your Password has been <br> set successfully
  </p>
  <!-- <button mat-button (click)="gotohome()"
    style="font-family: 'Montserrat';color: white;font-size: 20px;width:100%;background: linear-gradient(to right top, #b2d190, #aece8b, #aacb87, #a7c882, #a3c57e, #a0c37a, #9dc077, #9abe73, #97bc70, #94b96c, #92b769, #8fb566);border:none; outline:none;height: 30px;">Lets
    get started!</button> -->
  <button style="border-radius:4px;background:transparent linear-gradient(97deg, #B2D190 0%, #9EC178 27%, #8FB566 100%) 0% 0% no-repeat padding-box;
    border:none; outline:none;height:35pt; text-align:center;font-family:Montserrat;font-size:20px;color:white"
    (click)="gotohome()">Lets
    get started!</button>
</div>